.home {
  min-height: 100vh;
  max-width: 100vw;
  padding: 2rem 1rem;

  & header {
    width: 100%;
    margin-bottom: 2rem;
    background: #000;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.search button {
  padding: 0.5rem 1rem;
  background-color: var(--blue-color);
  transition: var(--transition);
  color: white;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: var(--blue-color-hover);
  }
}

.search button.active {
  background-color: #000;
  color: #fff;
  transition: var(--transition);
}

.search .logout {
  transition: var(--transition);
  background-color: brown;

  &:hover {
    background-color: rgb(134, 33, 33);
  }
}

.products {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

@media (max-width: 768px) {
  header h2 {
    font-size: 0.8rem;
  }
  header h4 {
    font-size: 0.8rem;
  }
}
